table,
th,
td {
  border: 1px solid black;
}
.column-menu{
  float: left;
  width: 40%;
}
.column-calculation{
  float: left;
  width: 20%;
}
.text-right {
  text-align: right;
}
.column {
  float: left;
  padding-right: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
  font-size: 30px;
}
.text-xl {
  font-size: 30px;
}
.text-l {
  font-size: 20px;
}